@model OWASP_2013_Demo.Web.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - OWASP 2013 Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Secure Shopper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li id="home"><a href="/">Home</a></li>
					<li id="home"><a href="/products">Products</a></li>
					<li id="securemode"><a class="@(Model.SecureMode ? "secure-mode" : "insecure-mode")">@(Model.SecureMode ? "Secure" : "Insecure")</a></li>
				</ul>
			</div>
		
		</div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OWASP Top 10 2013 Demo Site by <a href="http://www.ashleypoole.co.uk" target="_blank">Ashley Poole</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>