@model OWASP_2013_Demo.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>Manage Your Profile</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
    </tr>
</table>
